.signup {
    background-image: url("../signup/Mask\ Group\ 11@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 700px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_logo {
 margin-top: 20%;
 margin-left: 5%;
}

.signup_form {
    width: 100%;
    margin: auto;
    position: relative;
    margin-left: 10%;
    margin-top: 50px;

}

.form_background {
    height: 600px;
    width: 90%;
}

.signup_container {
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 500px;
}
.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:100px;
    width: 350px;
}
.submit_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.name_form {
    display: flex;
}
.input {
    width: 250px;
    margin-top: 10px;
    height:40px;
    background-color: #EDEDED;
    border-style: none;
}
.input::placeholder {
    padding-left: 5px;
}
.input:focus {
    outline: none;
}
.firstname_input {
width: 112px;
height: 40px;
background-color: #EDEDED;
border-style: none;
}
.firstname_input:focus {
    outline: none;
}
.firstname_input {
    padding-left: 5px;
}
.lastname_input {
width: 112px;
margin-left: 20px;
height: 40px;
background-color: #EDEDED;
border-style: none;
}
.lastname_input:focus {
    outline:none;
}
.lastname_input {
    padding-left: 5px;
}
.submit {
    width: 250px;
    height: 40px;
    margin-top: 20px;
    background-color: #F48020;
    color: #FCFCFC;
    border-style: none;
}
.signinwith {
    display: flex;
    align-items: center;

}
.leftline {
height: 1px;
background-color: red;
}
.signup_heading {
    display: flex;
    flex-direction: column;
    margin-right:20%;
}
input[type=checkbox] {
    accent-color:#F48020;
    height: 20px;
    width: 20px;
  }
  .checkbox_text {
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    margin-left: 10px;
  }
  .signin_other {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
