.head1 {
  display: block;
}
.logo {
  display: none;
}

.no-gap {
  margin-right: -15px;
  margin-left: -15px;
}

.no-gap .col-2 {
  padding-right: 0;
  padding-left: 0;
}
.no-gap .col-10 {
  padding-right: 0;
  padding-left: 0;
}
.export:hover {
  background-color: "red";
}
@media screen and (max-width: 980px) {
  .head1 {
    display: none;
  }
  .logo {
    display: block;
  }
}
